.MainDiv {
    /*background: rgb(195,122,34);
    background: linear-gradient(0deg, rgba(195,122,34,1) 0%, rgba(255,182,79,1) 100%);*/
    background-color: lightgray;
}

.Link {
    padding: 20px;
    margin-left: 8px;
}

.Fila { 
    display: flex;
    height: calc(50vh - 30px);
    width: 100%;
    justify-content: center;
    align-items: center;
}

.Plots {
    width: 50%;
    height: calc(100% - 25px);
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
}

