.SetLuzCard {
    background-color: gray;
    position: relative;
    text-align: center;
    width: 191px;
    height: 190px;
    margin: 5px;
    border-radius: 8px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.Input {
    margin-top: 8px;
    margin-bottom: 12px;
    text-align: center;
    border-radius: 8px;
}

.Button {
    margin-top: 22px;
    border-radius: 4px;
}

.Labels {
    text-align: left;
    margin-left: 25px;
}

.CheckBoxes {
    text-align: right;
    margin-right: 25px;
    margin-top: -88px;
}



