.SetLuzCard {
    background: rgb(195,122,34);
    background: linear-gradient(0deg, rgba(195,122,34,1) 0%, rgba(255,182,79,1) 100%);
    text-align: center;
    width: 300px;
    height: 100vh;
}

.Input {
    margin-top: 8px;
    margin-bottom: 12px;
    text-align: center;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    padding: 5px 10px;
}

.Button {
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    text-decoration: none;
    padding: 5px 10px;
    background-color: white;
}

.Labels {
    text-align: left;
    margin-left: 14px;
}

.CheckBoxes {
    text-align: right;
    margin-right: 14px;
    margin-top: -92px;
}



