.Message {
    height: 80vh;
    width: 100%;
    text-align: center;
}

.Div {
    height: 80vh;
    width: 100%;
    text-align: center;
}

.LinePlot {
    height: 90vh;
    width: 100%;
    text-align: center;
}
.h1 {
    margin : 0;
    padding-top: calc(45vh - 41px);
}