@import url('https://fonts.googleapis.com/css2?family=Shippori+Antique&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.leaflet-container {
  width: 100%;
  height: 100vh;
}

html {
  background-color: white;
}

h2 {
  margin-top: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 32px;
}

h4 {
  font-family: 'Roboto', sans-serif;
  margin-top: 22px;
  margin-bottom: 8px;
}

p {
  margin: 14px;
  text-align: justify;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
}

input {
  font-family: 'Roboto', sans-serif;
}

label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button {
  font-family: 'Roboto', sans-serif;
}

div {
  font-family: 'Roboto', sans-serif;
}


